<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style type="text/css">
        .fill{
            background-color: salmon;
            
        }
        .empty{
            background-color: white;
        }
        .cell{
            width: 10px;
            height: 10px;
        }
        .row{
            display: flex;
            justify-content: center;
        }
    </style>
    <title>Life Game</title>
</head>
<body>
    <div id="app">
        
        <button @click="randomFill(50)">
            随机填充
        </button>
        <button @click="start">
            开始
        </button>
        <button @click="stop">
            结束
        </button>
        <div class="row" v-for="row in matrix">
            <div  v-for="cell in row">
                <div v-if="cell" class="cell fill"></div>
                <div v-else class="cell empty"></div>
            </div>
        </div>

    </div>
</body>

<script>
  const { createApp } = Vue
  
  createApp({
    data() {
      return {
        matrix: [[true,false],[false,false]],
        running: false,
      }
    },
    methods: {
        randomFill: function(number){
            console.log("randomFilled")
            for(let i=0; i<number; i++){
                this.matrix[i] = []
                for(let j=0; j<number; j++){
                    this.matrix[i][j] = Math.random()<0.5 ? true : false
                    // this.matrix[i][j] = false
                }
            }
            // this.matrix[25][25] = true
            // this.matrix[25][24] = true
            // this.matrix[25][23] = true
            // this.matrix[24][25] = true
            // this.matrix[23][24] = true
        },
        start: function(){
            this.running = true
            var runner = setInterval(()=>{
                
                var lastMatrix = JSON.parse(JSON.stringify(this.matrix))
                for(let i=0; i<lastMatrix.length; i++){
                    for(let j=0; j<lastMatrix.length; j++){
                        let numAlive = 0
                        for(let ii=-1;ii<2;ii++){
                            for(let jj=-1;jj<2;jj++){
                                if(ii==0&&jj==0){
                                    continue
                                }else{
                                    try {
                                        if(lastMatrix[i+ii]!=undefined && lastMatrix[i+ii][j+jj]!=undefined && lastMatrix[i+ii][j+jj]){
                                            numAlive++
                                        }
                                } catch (e) {
                                    console.log("发生异常:" + e)
                                    console.log("i:" + i )
                                    console.log("ii:" + ii )
                                    console.log("j:" + j )
                                    console.log("jj:" + jj )
                                }
                                }
                            }
                        }
                        
                        if(lastMatrix[i][j]){
                            if(numAlive < 2){
                                this.matrix[i][j]=false
                            }else if(numAlive>3){
                                this.matrix[i][j]=false
                            }
                            
                        }else{
                            if(numAlive==3){
                                this.matrix[i][j]=true
                            }
                        }
                    }
                }
                if(!this.running){
                    clearInterval(runner)
                }
                
            },50)
        },
        stop: function(){
            this.running = false;
        }
    }
  }).mount('#app')
</script>
</html>